@charset "UTF-8" ;
*/{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url('https://t3.ftcdn.net/jpg/01/99/10/44/240_F_199104456_hGSpXtSlQW4u2kk2YNUOzuvieua68wrf.jpg');
   background-repeat: no-repeat;
  
   
 
    
}